/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/10/03, 14:05:00
    Author     : watanabe
*/

body {
    background: #556;
    text-align: center;
    padding: 10px;
}
div.contents {
    width: 1040px;
    margin: 0 auto;
    border: 1px solid #778;
}
table.sliders td {
    padding: 10px;
    text-align: center;
}
div.board {
    border-radius: 10px;
    padding: 5px;
    height: 300px;
}
div.loader {
    border-radius: 10px;
    background: #fff;
    width: 360px;
    height: 360px;
    padding-left: 270px;
    padding-top: 270px;
}
div.result {
    border-radius: 10px;
    background: #fff;
    width: 615px;
    height: 615px;
    padding-left: 15px;
    padding-top: 15px;
}
